<div class="toolbar">
  <img
    class="img-toolbar"
    (click)="homePage()"
    width="85"
    alt="Marvel Logo"
    src="../../../assets/images/marvelLogo.png"
  />

  <div (click)="homePage()" class="home-btn">
    <h4>Home</h4>
  </div>

  <input
    class="search-input"
    type="text"
    placeholder="Pesquisar"
    (keyup.enter)="searchEvent()"
  />
  <div class="icon-search" (click)="searchEvent()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      class="feather feather-search"
      viewBox="0 0 24 24"
    >
      <defs></defs>
      <circle cx="11" cy="11" r="8"></circle>
      <path d="M21 21l-4.35-4.35"></path>
    </svg>
  </div>
</div>
