
.list-by {
  display: flex;
  margin: 0 auto 0;
  align-items: center;
  color: #c71a1a;
  float: right !important;
  position: absolute;
  right: 0;
  margin-right: 2%;
  cursor: pointer;
}

.content {
  display: flex;
  margin: 12px auto 32px;
  padding: 0 16px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}



.header {
  padding: unset;
  width: 100% !important;
  height: 50%;
}

.img-banner{
  width: 100%;
  height: 20% !important;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}


.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 50px 10px;
  width: 300px;
  height: 300px;
  border-radius: 18px;
  border: 2px solid #324eee;
  box-shadow: 5px 5px 30px 7px #00000040, -5px -5px 30px 7px #00000038;
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  height: 40px;
}

.card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 30px 15px #00000040,
    -5px -5px 30px 15px #00000038;
}

.title-white {
  color: #940505;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}


.not-found{
  margin-top: 10%;
}



.more-info {
  float: left;
  position: relative;
  color: #004fe2;
  bottom: 30%;
  background-color: #0000;
  width: 50px;
  height: 50px;
}


.title {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 15px;
  left: 0;
  font-size: 26px;
  font-weight: 300;
  padding: 30px 0;
  background: linear-gradient(to top, #ffffff, transparent);
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  transition: .5s;
}

.list-container {
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 16px;
  display: flex;
}

.img-table{
  justify-content: center;
  align-items: center;
  text-align: center;
}


.img-card{
  width: 100%;
  height: 100%;
  border-radius: 15px !important;
}

.img-list{
  width: 80%;
  height: 80%;
  margin: 11px auto 1px;
  border-radius: 15px;
  border: 2px solid rgb(163, 163, 163);
}

table {
  font-family: 'Poppins', sans-serif;
  border-collapse: unset;
  width: 90%;
  margin: 11px auto 1px;
}

.table-name{
  min-width: 140px;
  text-align: center;
}

td, th {
  border: 1px solid #dddddd;
  border-radius: 15px;
  text-align: left;
  padding: 8px;
  align-items: center;
}

.table-details{
  text-align: center;
  min-width: 140px;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #262949;
  color: #ffffff;
}

tr:nth-child(odd) {
  background-color: #611f16;
  color: #ffffff;
}

a:-webkit-any-link {
  color: #be0000;
  cursor: pointer;
  text-decoration: underline;
}

.btn-load-more{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 10px 10px;
  width: 500px;
  height: 60px;
  border-radius: 5px;
  background-color: #262949;
  color: #ffffff;
  cursor: pointer;
  transition: 0.4s;
  &:hover{
    background-color: #a1a1a1;
  }
}

.btn-load{
    text-align: center;
    flex: content;
}
















