<app-toolbar
  ngDefaultControl
  [(ngModel)]="searchInput"
  (search)="getCharactersByName(searchInput)"
></app-toolbar>

<div class="header">
  <img
    alt="Marvel Banner"
    class="img-banner"
    src="../../assets/images/marvelBanner.svg"
    (load)="loadBanner = true"
  />
</div>

<div
  id="focusSearch"
  *ngIf="listCharacterAux.length > 0"
  class="list-by"
  (click)="listBy()"
>
  <span *ngIf="listByGrid === true" class="material-symbols-rounded">
    grid_view
  </span>
  <span *ngIf="listByGrid === false" class="material-symbols-rounded">
    format_list_bulleted
  </span>
</div>

<div class="content">
  <app-loading *ngIf="loading === true"></app-loading>
  <div *ngIf="listByGrid === false" class="card-container">
    <div
      *ngFor="let character of listCharacterAux; let i = index"
      class="card"
      (click)="navigateByRoute(character)"
    >
      <img
        class="img-card"
        src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
        alt="{{ character.name }}"
      />
      <div class="card_title title-white">{{ character.name }}</div>
      <div class="more-info">
        <span class="material-symbols-rounded"> add_circle </span>
      </div>
    </div>
  </div>

  <div
    *ngIf="listCharacterAux.length === 0 && loading === false"
    class="card not-found"
  >
    <img class="img-card" src="../../assets/images/notFound.png" />
  </div>

  <div *ngIf="listByGrid === true" class="list-container">
    <table class="table">
      <tr *ngFor="let character of listCharacterAux" class="table">
        <td class="img-table">
          <img
            class="img-list"
            src="{{ character.thumbnail.path }}.{{
              character.thumbnail.extension
            }}"
            alt="{{ character.name }}"
          />
        </td>
        <td class="table-name">{{ character.name }}</td>
        <td *ngIf="character.description !== ''">
          {{ character.description }}
        </td>
        <td *ngIf="character.description === ''">
          Clique aqui em
          <a [href]="character.urls[1].url" target="_blank">"Saiba Mais"</a>
          para encontrar mais informações sobre o seu persogem!
        </td>
        <td (click)="navigateByRoute(character)" class="table-details">
          Detalhes
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="btnLoad === true && loading === false" class="btn-load">
    <button class="btn-load-more" type="button" (click)="loadMore()">
      LOAD MORE!
    </button>
  </div>
</div>
